.ContactForm {
    padding: 4em 4em
}

.control label {
    font-size: 16px;
    padding: 10px 0;
}

.contact {
    max-width: 1100px;
    margin: auto
}

.Sent{
margin: 10px 0;
width: 200px;
height: 50px;
background: #de460a;
border: 0;
font-family: 'Playfair Despair', serif;
color: white;
font-size: 16px;

}